.app-movies{
  width: 100%;
  background: var(--var-bg-all);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content:space-evenly;
}

.app-movies-block{
  width: 22%;
  padding: 0.5rem;
}

.www{
  background: var(--var-bg-all);
}
.pagination{
  text-align: center;
}
