<div class="app-movies">
  <app-movie *ngFor="let movie of movies" [movie]="movie" class="app-movies-block"></app-movie>
</div>

<div class="pagination">
  <ng-container *ngIf="page > 1">
    <button mat-button (click)="goStartOrEnd(1)">{{ 1 }}</button>
    <button mat-button (click)="goNextOrPrevious(-1)">{{page-1}} <<</button>
  </ng-container>
  <button mat-button disabled>{{page}}</button>
  <ng-container *ngIf="page < total_pages">
    <button mat-button (click)="goNextOrPrevious(1)"> >> {{ page+1}}</button>
  </ng-container>
  <ng-container *ngIf="page !== total_pages">
    <button mat-button (click)="goStartOrEnd(total_pages)">{{ total_pages }}</button>
  </ng-container>
</div>
