<div class="app-header">
  <div class="app-header-logo">
    <div class="app-header-logo-img"><a href='https://www.themoviedb.org/' target='_blank'>
      <img
        src="//www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
        alt="logo"/>
    </a></div>
  </div>

  <div class="app-header-tittle">movies world</div>

  <div class="app-header-links">
    <a href="https://uk-ua.facebook.com/" target="_blank">
      <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/volodymyr-kostiuk-a35a16235/" target="_blank">
      <fa-icon [icon]="faLinkedin" class="icon"></fa-icon>
    </a>
    <a href="https://github.com/VLK2021" target="_blank">
      <fa-icon [icon]="faGithub" class="icon"></fa-icon>
    </a>
    <a href="https://web.telegram.org/z/" target="_blank">
      <fa-icon [icon]="faTelegram" class="icon"></fa-icon>
    </a>
  </div>
</div>


