<div class="app-header">
  <div class="app-header-logo">logo</div>

  <div class="app-header-tittle">movieDB</div>

  <div class="app-header-links">
    <a href="" target="_blank">
      <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
    </a>
    <a href="" target="_blank">
      <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/volodymyr-kostiuk-a35a16235/" target="_blank">
      <fa-icon [icon]="faLinkedin" class="icon"></fa-icon>
    </a>
    <a href="https://github.com/VLK2021" target="_blank">
      <fa-icon [icon]="faGithub" class="icon"></fa-icon>
    </a>
    <a href="" target="_blank">
      <fa-icon [icon]="faTelegram" class="icon"></fa-icon>
    </a>
  </div>
</div>
