<div class="carousel">

  <div class="carousel_item carousel_item-visible">
    <img *ngIf="movies.length" [src]=IMG_URL+movies[0].backdrop_path alt="w">
    <div class="linkToInfo">
      <a [routerLink]="['/movies', movies[0].id]">
        <button>MORE INFO</button>
      </a>
    </div>
  </div>

  <div class="carousel_item">
    <img *ngIf="movies.length" [src]=IMG_URL+movies[1].backdrop_path alt="w">
    <div class="linkToInfo">
      <a [routerLink]="['/movies', movies[1].id]">
        <button>MORE INFO</button>
      </a>
    </div>
  </div>

  <div class="carousel_item">
    <img *ngIf="movies.length" [src]=IMG_URL+movies[2].backdrop_path alt="w">
    <div class="linkToInfo">
      <a [routerLink]="['/movies', movies[2].id]">
        <button>MORE INFO</button>
      </a>
    </div>
  </div>

  <div class="carousel_actions">
    <button id="carousel_button-prev" class="sizeArrow" aria-label="Previous slide" (click)="prevSlide()"><</button>
    <button id="carousel_button-next" class="sizeArrow" aria-label="Next slide" (click)="nextSlide()">></button>
  </div>
</div>
