/*.app-navigation {*/
/*  width: 100%;*/
/*  position: fixed;*/
/*  z-index: 100;*/
/*}*/

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--var-bg-all);
  box-sizing: border-box;
  padding: 2rem 0 2rem 0;
}

a{
  color: var(--var-header-color);
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

li{
  list-style: none;
}

.active {
  color:  var(--var-a-hover);
  font-weight: bold;
  cursor: default;
  opacity: 1;
}


