.app-genres {
  width: 100%;
  min-height: 100vh;
  background: var(--var-bg-all);
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.app-genres-genre-block {
  width: 30%;
  padding: 1rem;
}

.routerOutlet {
  width: 70%;
  padding: 1rem;
}
