<div class="search-sort-actors">
  <div class="actors-sort"> sort by:
    <button (click)="sortByName()" class="btn-search">name</button>
    <button (click)="sortByPopularity()" class="btn-search">popular</button>
  </div>

  <div class="app-search-actor-input">
    <div class="app-search-actor-input-block"><input type="text" [(ngModel)]="word" placeholder="search..."></div>
    <button (click)="search()" class="btn-search" routerLink="/actor/search">search</button>
  </div>
</div>


<div class="app-actors">
  <app-actor *ngFor="let actor of actors" [actor]="actor" class="app-actors-block"></app-actor>
</div>

<div class="pagination">
  <ng-container *ngIf="page > 1">
    <button class="btn" (click)="goStartOrEnd(1)">{{ 1 }}</button>
    <button class="btn" (click)="goNextOrPrevious(-1)">{{page-1}} <<</button>
  </ng-container>

  <button class="btn size" disabled>{{page}}</button>

  <ng-container *ngIf="page < total_pages">
    <button class="btn" (click)="goNextOrPrevious(1)"> >> {{ page+1}}</button>
  </ng-container>

  <ng-container *ngIf="page !== total_pages">
    <button class="btn" (click)="goStartOrEnd(total_pages)">{{ total_pages }}</button>
  </ng-container>
</div>
