.app-actors {
  width: 100%;
  background: var(--var-bg-all);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
}

.app-actors-block {
  width: 20%;
  padding: 0.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--var-bg-all);
  text-align: center;
  color: white;
  padding: 2rem 0 2rem 0;
}

.size {
  font-size: 2rem;
  background: var(--var-header-color);
  color: var(--var-bg-header);
}

.app-search-actor-input {
  display: flex;
  justify-content: end;
  align-items: center;
  background: var(--var-bg-all);
  padding: 2rem 2rem 2rem 0;
}

.btn-search {
  width: 5rem;
  font-weight: bold;
  background: var(--var-bg-btn);
  color: var(--var-color-btn);
  box-shadow: var(--var-box-shadov-btn);
  margin-left: 0.6rem;
  border-radius: 1rem;
  padding: 0.2rem;
}

.app-search-actor-input-block > input {
  width: 15rem;
  height: 2rem;
  border-radius: 1rem;
  color: var(--var-color-btn);
  font-weight: bold;
  box-shadow: var(--var-box-shedow-header);
  padding: 0 0 0 1rem;
}

.search-sort-actors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--var-bg-all);
}

.actors-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--var-header-color);
  font-weight: bold;
}


