/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --var-bg-header: #787272;
  --var-bg-footer: #787272;
  --var-header-color: deepskyblue;
  --var-footer-color: deepskyblue;
  /*--var-bg-all: url(./images/black.jpg) no-repeat center fixed;*/
  --var-bg-btn: #787272;
  --var-color-btn: deepskyblue;
  --var-box-shedow-header: 0 0 0 2px #3e3e3e, 0 0 0 5px #3e3e3e,
  inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px deepskyblue,
  inset 0 0 15px rgba(0, 0, 0, .2);
  --var-color-a: white;
  --var-a-hover: yellow;

  --var-box-shadov-btn: 0 0 0 4px #3e3e3e, 0 0 0 5px #3e3e3e,
  inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px deepskyblue,
  inset 0 0 15px rgba(0, 0, 0, .2);
}


